*{
	margin:0;
	padding:0;

}

html{
	background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;
  height: 100%;
	margin: auto;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.visible {
	display: inherit;
}

.hide {
	display: none;
}

#footer {
	text-align: center;
	display: block;
	color: white;
	clear: both;
}

.itemsForOl{
	display: block;
	color: white;
	text-align: center;
	background: transparent;
}

#sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
		padding-top: 10%;
    background: linear-gradient(to right, #300547 0%,transparent 100%);
    overflow-x: hidden;
}

#sidenav li {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
		text-align: center;
		transition: color 0.2s ease-out;
}

/* Change color on hover */
#sidenav li:hover {
		background-color: rgba(0,0,0,0);
		color: #3a7999;
		transition: color 0.2s ease-in;
}

.content {
    margin-left: 12%;
		margin-top: 35px;
}

.title {
	text-align: center;
	color: white;
	clear: both;
	margin-bottom: 5px;
}

#literature {
	padding-top: 40px;
}
#playerStuff {
	position: fixed;
	bottom: 0;
	width: 100%;
}
/*
#fix{
	position: fixed;
	bottom: 0;
	z-index: 3;
}
*/
