
#audioplayer{
    width: 480px;
    height: 45px;
    margin: 50px auto auto auto;

    border-radius: 15px 50px;
    background: rgba(92, 12, 135, 0.5);
}

#pButton{
    height:45px;
    width: 60px;
    border: none;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('playBTN.png'); transition: 0.2s ease-out;}
.pause{background:url('stopBTN.png'); transition: 0.2s ease-out;}

#timeline{
    width: 400px;
    height: 20px;
    margin-top: 10px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,0.3);

}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(255, 255, 255,1);

}
