
#audioplayer{
    width: 80%;
    height: 40px;
    margin: auto;
    margin-bottom: 7px;
    border-radius: 30px  30px  30px 30px;
    background: rgba(60, 62, 66, 0.5);
}

#centeredAudioPlayer{
      width: 95%;
      height: 40px;
      margin: auto;
}

#pButton {
    height:30px;
    width: 5%;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    opacity: 0.5;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    outline:none;
}

#prevButton{
  background: url('prevBTN.png');
  height:30px;
  width: 5%;
  border: none;
  margin-top: 5px;
  opacity: 0.5;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  outline:none;
  transition: 0.2s ease-out;
}

#nextButton{
  background: url('nextBTN.png');
  height:30px;
  width: 5%;
  border: none;
  margin-top: 5px;
  opacity: 0.5;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  outline:none;
  transition: 0.2s ease-out;
}


#nextButton:hover,#prevButton:hover,#pButton:hover{
  opacity:1;
}

.play{background: url('playBTN.png'); transition: 0.2s ease-out;}
.pause{background:url('stopBTN.png'); transition: 0.2s ease-out;}

#timeline{
    width: 83%;
    height: 20px;
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 5px;
    background: rgba(0,0,0,0.3);
}

#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(255, 255, 255,1);
}
